h1
{color: black;}

.titre
{
    border-bottom: 2px solid #a63950;
    height: 20;
    text-align: center;
    display: block;
    color: black;
}
.titre p, h1
{
    
    text-align: center;
    display: block;
    color: blue;
    align-items: center;
    
}
.elevated
{
   border: none;
   border-radius: 25px
   
}
.container
{display: flex;
justify-content: center;
align-items: center;
height: 100%;
background-color: #b8b8b8;
}
mat-card
{width: 200%;
max-width: 800px;
height: 800;
background-color: azure;}

mat-card-header
{display: block;
text-align: center;}

mat-form-field
{width: 100%;}
#btn-login
{width: 100%;
background-color: blue;}
mat-error
{display: block;
width: 100%;
text-align: flex;
font-size: smaller;}
.patient-button-row
{display: flex;
  
  width: 100%;}
.praticien-button-row
{display: flex;
  justify-content: space-between;
  width: 100%;}

