
<!-- <button mat-stroked-button routerLink="accueil" matTooltip="Info about accueil" aria-label="Button that displays a tooltip when focused or hovered over">ACCUEIL</button>
<button mat-stroked-button routerLink="praticien" matTooltip="Info about the praticien" aria-label="Button that displays a tooltip when focused or hovered over">Praticien</button>
<button mat-stroked-button routerLink="patient" matTooltip="Info about the patient" aria-label="Button that displays a tooltip when focused or hovered over">Patient</button>
<button mat-stroked-button routerLink="contact">CONTACTS</button> -->
<router-outlet/>
