.titre 
{
    border-bottom: 2px solid #0B6BA8 !important;
}

.btnback
{display: none;
justify-content: center;
flex-direction: column;
align-items: left;
width: 10%}
.titre p, h1
{ 
    text-align: center;
    display: block;
    color: blue;
    align-items: center; 
}
.center {
  display: flex;
  justify-content: center;
  align-items: left;
}
.container
{display: flex;
justify-content: center;
align-items: center;
height: 100%;
background-color: #b8b8b8;
}
mat-card
{width: 90%;
max-width: 800px;
background-color: azure;}

mat-card-header
{display: block;
text-align: center;}

mat-form-field
{width: 100%;}
#btn-login
{width: 20%;
background-color: blue;
align-items: right;
display: flex;
justify-content: center}

mat-error
{display: block;
width: 100%;
text-align: flex;
font-size: smaller;}

.btnback
{ 
border: none;
  padding: 0;
  background: none;
}